
  @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
  
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}


li
{
padding-left: 2rem;
}
#drag-drop
{
    color: rgb(209, 115, 235);
    max-width: 45rem;
    max-height: 80rem;
    border-radius: 10px;
    margin-top: 150px;
    
    border-style: dashed; 
    border-width: 3px;
    background: none;
    display: flex;
    
}
#drag-drop P
{
     align-items: center;
     font-size: 20px;
    margin-left: 80PX;
    display: flex;
    margin-top: 25px;
    color: black;
}


#fileconverter
{
    font-family: 'Righteous', cursive;
    color: rgb(209, 115, 235);
    margin-top:150px; 
    word-spacing: 10px;
    font-weight: 800;
    justify-content: center;
    display: flex;
}
#file
{
margin-bottom:20px; 
width: 7rem;

}
#maincontainer
{
    
}
.bg-image
{
    background-image: url('/static/5094386.jpg');
    background-size:contain;
    
    height: 100vh;
     background-repeat: no-repeat;
    display: block;
   
    
}
#remove-btn
{
    
    margin-left: 480px;
    margin-top: -83px;
   
}
#upload-btn
{
    margin-left: 590px;
    margin-top: -132px;
}
